/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Container */
.container {
  width: 100%;
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
}


/* Intro */
.intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 820px;
  position: relative;
  background-size: cover;
}

.intro__inner {
  width: 100%;
  max-width: 880px;
  margin: 0 auto;
  text-align: center;
}

.intro__title {
  color: black;
  font-size: 150px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

  .intro__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 60px auto;
    background-color: white;
  }

.intro__suptitle {
  margin-bottom: 20px;
  font-family: 'Kaushan Script', cursive;
  font-size: 72px;
  color: black;
}

/* Button */
.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 3px solid black;
    font-size: 14px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
}

  .btn:hover {
    background-color: #fff;
    color: #333;
  }
